<!DOCTYPE html>
<!--This is where you define the name of your AngularJS app-->
<script src="config.js"></script>

<html ng-app="WebApiApp">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>PI Web API Sample App with AngularJS</title>
    <!--The file below was copied from the blog post sample app using jQuery to style the DOM elements-->
    <link href="default.css" rel="stylesheet" />
</head>

<!--The mainContrl is our main AngularJS controller-->
<!--Variables declared within $scope will manipulate the DOM within the body node-->

<body ng-controller="mainCtrl">
    <!-- <div ng-show="showMap == true" id="overlay"> -->
    <!-- <img src="Floorplan.jpg"> -->
    <!-- <div id="floating-panel" class="overlay">
        <input type="button" value="Toggle visibility" onclick="overlay.toggle();"></input>
        <input type="button" value="Toggle DOM attachment" onclick="overlay.toggleDOM();"></input>
    </div> -->
    <!-- </div> -->
    <div id="userInput" class="parentBox">
        <label for="floorNumber">Floor Number</label>
        <select name="floorNumber" id="floorNumber" class="inputBox" ng-change="changeFloor()" ng-model="testModel">
        </select>

        <label for="locationName">Location</label>
        <select name="locationName" id="locationName" class="inputBox">
        </select>

        <!-- Potentially change to be a sliding bar instead -->
        <label for="comfortLevel">Comfort Level</label>
        <select name="comfortLevel" id="comfortLevel" class="inputBox">
            <option></option>
            <option>Cold</option>
            <option>Normal</option>
            <option>Hot</option>
        </select>

        <input type="submit" id="getButton" value="Get Average" ng-click="getAvg(); getUserEntries()">
        <input type="submit" id="submitButton" ng-click="submitResponse()">
    </div>

    <!-- Div that has the map appearing -->
    <div ng-show="onFloor==true" class="floor-info">
        <!-- <div class="dropbtn">
            <h1>
                Floor {{floorNumber}}
            </h1>
        </div> -->
        <!-- Insert floor layout -->
        <div id="floorplan">
            <img src="Floorplan.jpg">
        </div>
        <div id="floorplan_child">
            <div id="" class="square1 room square square_top">
                <div class="vavLabel">04</div>
            </div>
            <div id="" class="square2 room square square_top" content="width=device-width, initial-scale=1">
                <div class="vavLabel">05</div>
            </div>
            <div id="squareRoom" class="room square square_top" content="width=device-width, initial-scale=1">
                <div class="vavLabel">17</div>
            </div>
            <div id="" class="square4 room square square_top" content="width=device-width, initial-scale=1">
                <div class="vavLabel">06</div>
            </div>
            <div id="" class="square5 room square square_top" content="width=device-width, initial-scale=1">
                <div class="vavLabel" style="font-size: 75px;">07/08</div>
            </div>
            <div id="" class="square6 room square square_top" content="width=device-width, initial-scale=1">
                <div class="vavLabel">01</div>
            </div>

            <div id="" class="square1 room square square_middle middleExtend">
                <div class="vavLabel">04</div>
            </div>
            <!-- <div id="stairs" class="square2 room square square_middle" content="width=device-width, initial-scale=1"></div> -->
            <div id="conf" class="square4 room square square_middle" content="width=device-width, initial-scale=1">
                <div class="vavLabel">18</div>
            </div>
            <div id="medRoom" class="square5 room square square_middle" content="width=device-width, initial-scale=1">
                <div class="vavLabel" style="font-size: 50px;">09/10</div>
            </div>
            <div id="" class="square6 room square square_middle" content="width=device-width, initial-scale=1">
                <div class="vavLabel">01</div>
            </div>

            <div id="" class="square1 room square square_bottom">
                <div class="vavLabel">04</div>
            </div>
            <div id="" class="square2 room square square_bottom" content="width=device-width, initial-scale=1"></div>
            <div id="" class="square4 room square square_bottom" content="width=device-width, initial-scale=1"></div>
            <div id="" class="square5 room square square_bottom" content="width=device-width, initial-scale=1">
                <div class="vavLabel" style="font-size: 75px;">11/12</div>
            </div>
            <div id="" class="square6 room square square_bottom" content="width=device-width, initial-scale=1">
                <div class="vavLabel">01</div>
            </div>

        </div>
    </div>

    <div ng-show="showMap == true" id="map">
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3tl-i_Mg8Z7uEIT82ElNO7vT1mbTx6hI&callback=renderMap" defer></script> -->
    </div>

    <!--The div below will appear only if $scope.requestMode == true-->
    <!-- Set to == true to see boxes from initial web app -->


    <script src="Scripts/angular.min.js"></script>
    <!-- <script src="dist/jquery-piwebapi-1.11.0.min.js"></script>
    <script src="dist/jquery-piwebapi-1.11.0.js"></script> -->
    <script src="Scripts/app.js"></script>
    <!-- <script src="Scripts/piwebapi.js"></script> -->
    <!-- <script src="Scripts/sample_main.js"></script> -->
    <script src="Scripts/angular-base64.js"></script>
    <!-- <script src="Scripts/angular-base64.min.js"></script> -->
    <script src="Scripts/angular-piwebapi-1.11.0.js"></script>
    <!-- <script src="Scripts/angular-piwebapi-1.11.0.min.js"></script> -->

</body>



</html>

<!--https://stackoverflow.com/questions/13175510/call-python-function-from-javascript-code-->